* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "Bungee outline";
    src: url(./Assets/Fonts/Bungee/BungeeOutline-Regular.ttf) 
 }
 
 @font-face {
     font-family: "Bungee Shadee";
     src: url(./Assets/Fonts/Bungee/BungeeShade-Regular.ttf);
 }
 
 @font-face {
     font-family: "Barlow condensed";
     src: url(./Assets/Fonts/Barlow/BarlowCondensed-Regular.ttf);
 }
 
 @font-face {
     font-family: "Barlow SeminCondensed";
     src: url(./Assets/Fonts/Barlow/BarlowSemiCondensed-Bold.ttf);
 }
 
a {
    text-decoration: none;
    color: black;
}

article ul {
    margin:0;
}

aside div:nth-of-type(3){
    background-image: url(./Assets/Images/PMP.jpg);
    background-size: cover;
    background-position: center;
}

aside div:nth-of-type(3) p{
    align-self: end;
    color:#CC0000;
}


div .orange p {
    color: black;
}

nav {
    display: flex;
    gap: 1vw;
    margin: 0 2vw;
}

nav a {
    flex: 1 0 0;
    background-color: rgba(211, 211, 211, 0.58);
    border-radius:15px;
    text-align: center;
    align-self: center;
    font-family: "Barlow condensed";
    font-size: 3vw;
    margin-bottom: 8vw;
} 

nav a:hover {
    background-color: rgba(0, 0, 0, 0.597);
    color: white;
}

nav div {
    box-shadow: 0 0 20px white;
    flex: 1 0 0;
    background-color: rgba(211, 211, 211, 0.58);
    border-radius:15px;
    text-align: center;
    align-self: center;
    font-family: "Barlow Semincondensed";
    font-size: 3vw;
    margin-bottom: 8vw;
}

h1 {
    margin-top: 0;
    margin-bottom: 10vh;
    font-family: "Bungee Shadee";
    font-size: 7vh;
    color: #CC0000;
}

h2 {
    font-family: "Bungee outline";
    font-size: 2rem;
    margin:0;
    color:antiquewhite;
}

h3 {
    font-family: "Barlow SeminCondensed";
    margin: 0;
    font-size: 1.5rem;
    color:antiquewhite;
}

li {
    font-family: "barlow condensed";
    color: antiquewhite;
}

p {
    font-family: "Barlow condensed";
    margin:0;
    color: antiquewhite;
}

#second div:nth-child(3) {
    background-image: url(./Assets/Images/jackandlana.jpg);
    background-size: cover;
    background-position: center;
}

#second div:nth-child(3) p {
    align-self: end;
    color: orange;
}

.container {
    background-color: rgba(49, 44, 43, 0.483);
    padding: 1rem;
    border: 1px solid white;
    border-radius: 20px;   
}

.red{
    background-color: #CC0000; 
    color: beige;
 }

 .beige {
    background-color: beige;
    color: #CC0000;
}

.orange {
    background-color: orange;
    color:rgb(34, 32, 32);
}

.black {
    background-color: rgb(44, 41, 41);
    color:orange;
}