/* Fonts */
/* Font-faces */
@font-face {
   font-family: "Royal Acid";
   src: url(./Assets/Fonts/RoyalAcid/Royalacid.ttf); 
}

@font-face {
    font-family: "Bungee outline";
    src: url(./Assets/Fonts/Bungee/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Barlow condensed";
    src: url(./Assets/Fonts/Barlow/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: "Barlow SeminCondensed";
    src: url(./Assets/Fonts/Barlow/BarlowSemiCondensed-Bold.ttf);
}

/* Font formatting */
h1 {
    font-family: "Royal Acid";
    font-size: 75px;
    color: #CC0000;
    display: block;
}

h2 {
    font-family: "Bungee outline";
}

h3 {
    font-family: "Barlow SeminCondensed";
}

p {
    font-family: "Barlow condensed";
}

/* body elements */
body {
    background-image: url(./Assets/Images/bg2.webp);
    background-size: cover;
}

header {
    
    background-color: rgba(79, 70, 67, 0.483);
    margin: 10vh 5vw;
    border-radius: 20px;
    padding: 1rem;
}

/* Navigationsfält */
.navparent {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2vw;
}

nav {
    background-color: lightgrey;
    padding: 2vw;
    border-radius:20px;
    border:1px solid black;
    text-align: center;
    font-family: "Royal Acid";
    font-size: 1rem;
    margin-bottom: 10vh;
}

#activebutton {
    background-color: lightgrey;
    padding: 2vw;
    border-radius:20px;
    border:1px solid white;
    text-align: center;  
    font-weight: bold;
    box-shadow: 0 0 15px white;
    font-family: "Royal Acid";
    font-size: 1rem;   
}

main {
    margin: 0 1vw;
    background-color: rgba(49, 44, 43, 0.483);
    padding: 1vw;
    border: 1px solid white;
    border-radius: 20px;
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-auto-flow: column;
}

a {
    text-decoration: none;
    color: black;
}

/* containers */
.imgcontainer {
    height: 70vh;
    width: 45vw;
    border-radius: 20px;;
    display: grid;
    justify-content: right;
    object-fit: cover;
}

/* Hover */ 
nav:hover {
    background-color: black;
    color: white;
}

.imgcontainer:hover {
    content: url(./Assets/Images/bg2.webp);
    
}

/* Media queries */
@media (max-width:500px) {
    body {
        background-image: url(./Assets/Images/bg.jpg);
        background-size: cover;
    }
}